.skill {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
  }
}

.skill__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 30px;
  @include desktop {
    flex-wrap: nowrap;
  }
}

.skill__item {
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
}

.skill__box {
  height: 120px;
  display: flex;
  background-color: var(--main-color-btn-portfolio);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.skill__icon {
  width: 70px;
  height: 70px;
}

.skill__title {
  @include font(700, 14, 1.14, 0.03);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  @include tablet {
    text-align: left;
  }
}

.skill__after-title {
  @include font(null, 14, 1.71, 0.03);
  color: var(--main-color-grey);
}
