.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 20;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  max-height: 581px;
  background-color: var(--main-color-white);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  fill: var(--main-color-blue);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  display: block;
  margin-bottom: 12px;
}

.input-wrap {
  position: relative;
}

.input-wrap:hover,
.input-wrap:focus,
.form-input:hover,
.form-input:focus,
.coment-input:hover,
.coment-input:focus {
  fill: var(--main-color-blue);
  border-color: var(--main-color-blue);
  cursor: pointer;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .input-icon,
.form-input:focus + .input-icon {
  fill: var(--main-color-blue);
}

.input-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
}

.coment-input {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-icon {
  height: 16px;
  width: 16px;
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: var(--main-color-blue);
  border: none;
}

.input-check:checked + .check-text .check-icon {
  fill: var(--main-color-white);
  outline: none;
}

.input-check:focus + .check-text span {
  border-color: var(--main-color-blue);
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.check-link {
  color: var(--main-color-blue);
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--main-color-white);
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  background-color: var(--main-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit:focus,
.btn-submit:hover {
  background: #188ce8;
}