body {
  font-family: var(-main-font-family);
  color: var(--main-color-text);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
