:root {
  --main-color-blue: #2196f3;
  --main-color-blue-hover: #188ce8;
  --main-color-grey: #757575;
  --main-color-grey-icon: #afb1b8;
  --main-color-white: #ffffff;
  --main-color-btn-portfolio: #f5f4fa;
  --main-color-btntext-portfolio: #212121;
  --main-color-text: #212121;
  --main-color-line: #ececec;
  --main-color-black: #000000;
  --main-color-footer: #2f303a;
  --main-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font-family: 'Roboto', sans-serif;
}
